label{
    background-size: 15px;
    color: #3498db;
    font-size: 20px;
}

.div-label-input{
    margin-left: 50px;
}

.div-size-label{
    width: 30px;
    background-color: beige;
}

.form_width{
    width: 500px;
}

input{
    width: 400px;
}

form{
    margin-left: 100px;
    margin-top: 50px;
}

.margin-range{
    margin-left: 10px;
}

.selectedColor{
    width: 300px;
    margin-left: 700px;
    margin-top: -450px;
}

.link-back-page{
    color: black;
    font-size: 15px;
    font-style: italic;
}